body{
    text-align: center;
}
#div1{
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    display: inline-block;
    text-align: center;
}
#div2{
    border-top: gray solid 1px;
}
a{
    background-size: cover;
    width: 64px;
    height: 64px;
    display: inline-block;
}
#btn1{
    background-image: url("src/cat_box_64.png");
}
#btn2{
    background-image: url("src/cat_cage_64.png");
}
#btn3{
    background-image: url("src/cat_clean_64.png");
}
#btn4{
    background-image: url("src/cat_eyes_64.png");
}
#btn5{
    background-image: url("src/cat_purr_64.png");
}
#btn6{
    background-image: url("src/cat_tied_64.png");
}
h2{
    text-align: center;
    border-bottom: gray solid 1px;
}
iframe{
    width: 256px;
    height: 256px;
    display: inline;
    border-style: none;
}